---
title: OpenSwitch
---

{% include header.html %}
      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="#"><img class="navbar-logo" src="/img/OpenSwitchLogo.png"/></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                  {% include navlinks.html %}
              </div><!--/.navbar-collapse -->
          </div><!--/.container-fluid -->
          </nav>

          <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>OpenSwitch</h1>
                    <hr>
                    <p>Flowing your packets free since 2015</p>
                    <a href="/overview" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                </div>
            </div>
          </header>

{% include footer.html %}
