<ul class="nav navbar-nav navbar-right">
  <li class="active"><a href="/">Home</a></li>
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/overview">Overview</a></li>
            <li><a href="/FAQ">FAQ</a></li>
            <li><a href="/manuals">Manuals</a></li>
            <li><a href="/hcl">Hardware Compatibility List</a></li>
          </ul>
  </li>
  <li><a href="/downloads">Downloads</a></li>
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://governance.openhalon.io/">Governance</a></li>
            <li><a href="/membership">Membership</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://webchat.freenode.net/?channels=#openswitch">IRC Webchat</a></li>
            <li><a href="http://openswitch.slack.com/">Slack</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/openswitch">Mailing lists</a></li>
            <li><a href="/blogs">Blogs</a></li>
          </ul>
  </li>
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Developers<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://wiki.openhalon.io/">Wiki</a></li>
            <li><a href="http://docs.openhalon.io/">Developer Documentation</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://git.openhalon.io/">Source Code</a></li>
            <li><a href="http://github.com/open-switch">GitHub (Code Mirror)</a></li>
            <li><a href="http://review.openhalon.io/">Code Review</a></li>
          </ul>
  </li>
  <li><a href="/contact">Contact</a></li>
</ul>
