// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

@import 'openswitch.defaults';
@import '~grommet/scss/grommet-core/index';

header {
  color: $openswitch-text-color;

  a {
    text-decoration: none !important;
  }

  .menu a:not(.button) {
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      color: #eee;
    }

    &.active {
      color: #fff;
    }
  }

}

.openswitch-hero {
  color: $openswitch-text-color;
}

.menu {

  .menu-item {
    margin-bottom: halve($inuit-base-spacing-unit);
    display: flex;
    flex-direction: column;

    &__sub-item {
      margin-left: halve($inuit-base-spacing-unit);
    }
  }

  h3 {
    margin-bottom: halve($inuit-base-spacing-unit);
  }
}

.document__body {
  h1 {
    color: #d06f3e;
  }

  h2 {
    color: #666666;
    border-bottom: 1px solid #ccc;
    padding-bottom: halve($inuit-base-spacing-unit);
  }

  h4 {
    color: #b3b3b3;
    font-weight: 600;
  }

  a {
    color: #6539a4;
    font-weight: 600;
  }

  @include media-query(palm) {
    padding: 0;
    padding-top: $inuit-base-spacing-unit;
  }
}
