// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

@import 'openswitch.defaults';
@import '~grommet/scss/grommet-core/index';

header {
  color: $openswitch-text-color;

  a {
    text-decoration: none !important;
  }

  .menu a:not(.button) {
    color: $openswitch-text-color;

    &:hover {
      color: $brand-color;
    }
  }

  @include media-query(palm) {
    .menu {
      display: none;
    }
  }

}

@include media-query(palm) {
  .home.header {
    display: none;
  }
}

.button {
  padding: halve($inuit-base-spacing-unit) (halve($inuit-base-spacing-unit) * 3);

  @include media-query(palm) {
    padding: halve($inuit-base-spacing-unit) (halve($inuit-base-spacing-unit) +
      halve(halve($inuit-base-spacing-unit)));
  }

  &--primary {
    border-color: #6539a4 !important;
    background-color: #6539a4 !important;
    color: #fff !important;
  }
}

.openswitch-hero {
  color: $openswitch-text-color;
}

@include media-query(palm) {
  .box--separator-left {
    border-left: 0;
    border-bottom: 1px solid;
    padding-top: $inuit-base-spacing-unit;
  }

  .box--separator-right {
    border-right: 0;
    border-bottom: 1px solid;
    padding-top: $inuit-base-spacing-unit;
  }
}

.icon-tile {
  -webkit-display: flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: $inuit-base-spacing-unit;

  > * {
    flex-direction: row;
    margin-right: $inuit-base-spacing-unit;
  }

  @include media-query(palm) {
    padding-top: 0;
  }
}

.document__body {
  h1 {
    color: #d06f3e;
  }

  h2 {
    color: #666666;
    border-bottom: 1px solid #ccc;
    padding-bottom: halve($inuit-base-spacing-unit);
  }

  h4 {
    color: #b3b3b3;
    font-weight: 600;
  }

  a {
    color: #6539a4;
    font-weight: 600;
  }

  @include media-query(palm) {
    padding: 0;
    padding-top: $inuit-base-spacing-unit;
  }
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}
